.container
	max-width: 1160px
	width: 100%
	display: flex
	margin: 0 auto

.main
	margin-bottom: 190px
	padding-top: 120px
	.container
		max-width: 1160px
		align-items: center
		position: relative
		&:before
			position: absolute
			content: ''
			bottom: -80px
			left: -150px
			width: 1812px
			height: 712px
			display: block
			z-index: -1
			background: #F6F7F9
			border-radius: 50px
			transform: rotateZ(-6.93deg)
	&-screen
		position: relative
		img
			position: absolute
			top: -92px
			left: -35px
			transform: rotateZ(120deg)
	&-info
		max-width: 400px
		margin-left: 60px
		margin-right: 184px
		p
			font-weight: normal
			font-size: 21px
			line-height: 34px
			color: #0C0C0C
		&__buttons
			display: flex
			margin-top: 32px
			.btn
				margin-right: 24px
				&:last-child
					margin-right: 0px

.coop
	margin-bottom: 100px
	.container
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
	&-logo
		height: 35px
		width: auto

.why
	.container
		justify-content: space-between
	&-block
		&__img
			position: relative
			min-width: 530px
			height: 420px
			margin-right: 50px
			img
				position: absolute
				width: 100%
				&:first-child
					height: auto
					right: 0
					z-index: 3
				&:nth-child(2)
					z-index: 2
					top: 10%
					left: 0
				&:last-child
					z-index: 1
					left: 0
					top: 30%

		&__list
			margin-top: 100px
			li
				transition: all ease 0.8s
				&.unactive
					opacity: 0.3
				&:not(:first-child)
					padding-top: 50px

				&:hover
					animation: descr-anim 0.8s linear

					span
						left: -76px
						div
							&::after
								width: 24px
								height: 24px
							&::before
								width: 70px
					
								

			&-item
				position: relative
				transition: all 0.5s ease
				cursor: default
				padding-left: 70px
				
				span
					position: absolute
					left: 0
					top: 27px
					transform: translateY(-25px)
					transition: all ease 0.8s 

					.round
						position: relative
						display: block
						left: 0
						top: 0
						width: 11.11px
						height: 11.11px
						border-radius: 100%
						background: #F46B65
						transition: all ease 0.8s 
						&::before
							position: absolute
							content: ''
							width: 0
							height: 3px
							top: 50%
							left: 40px
							transform: translateY(-50%)
							background: #F46B65
							transition: all ease 0.8s 
					

						&::after
							position: absolute
							content: ''
							top: 50%
							left: 50%
							z-index: -1
							transform: translate(-50%, -50%)
							width: 11.11px
							height: 11.11px
							border-radius: 100%
							background: #FABFBD
							transition: all ease 0.8s 
							

			.section-title
				margin-bottom: 75px
	&-list
		&__title
			font-weight: bold
			font-size: 18px
			line-height: 23px
			margin-bottom: 10px
			color: #0c0707
		&__descr
			font-weight: normal
			font-size: 16px
			line-height: 29px
			color: #0C0C0C
			overflow: hidden
			transition: all 0.5s ease
			max-width: 413px
								

@keyframes descr-anim
	0%
		opacity: 0

	100%
		opacity: 1

.faq
	.container
